<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-lg-3">
            <p class="monPanier">Mon Panier (1)</p>
            <div class="row">
                                <div class="col-8" id="descriptionProduit">
                                    <p> OP Tome 1</p>
                                    <p class="prix"> 10€ </p>
                                    <p class="description"> une desc</p>
                                    <p class="author"> Oda </p>
                                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-4">
            <aside class="recapitulatif"> 
                <div class="row">
                    <p class="recap"> Récapitulatif </p>
                    <div class="row">
                        <div class="col">
                            <p>Sous-total : </p>
                        </div>
                        <div class="col">
                            10€
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>Livraison : </p>
                        </div>
                        <div class="col">
                            0€
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="total">Total : </p>
                        </div>
                        <div class="col">
                            <p class="total"> 10€</p>
                        </div>
                    </div>
                    <div class="row">
                    <button class="btn btn-primary" [routerLink]="['/paiement']"> Paiement </button>
                    </div>
                </div>
                    
            </aside>
        </div>
    </div>
    </div>